asgiref==3.8.1
beautifulsoup4==4.13.4
crispy-bootstrap5==2025.4
decorator==5.2.1
dj-database-url==2.3.0
Django==4.2.21
django-bootstrap-v5==1.0.11
django-bootstrap5==25.1
django-crispy-forms==2.4
djangorestframework==3.16.0
environs==14.1.1
gunicorn==23.0.0
marshmallow==4.0.0
packaging==25.0
pillow==11.2.1
psycopg==3.2.9
psycopg2-binary==2.9.10
python-dotenv==1.1.0
self==2020.12.3
setuptools==80.8.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
wheel==0.45.1
whitenoise==6.9.0
