{% extends "base.html" %}
{% block content %}
  <h1>Procedura di acquisto</h1>

  <h3>Prodotti nel carrello:</h3>
  <ul>
    {% for item in cart_items %}
      <li>{{ item.item.name }} - {{ item.quantity }} x €{{ item.item.price }}</li>
    {% endfor %}
  </ul>

  <p><strong>Totale: €{{ total_price }}</strong></p>

  <h3>Indirizzo di spedizione:</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Effettua ordine</button>
  </form>
{% endblock %}
